.App {
  font-family: sans-serif;
  text-align: center;
}

.coolBoxWrap {
  position: relative;
  // max-height: min(56.25vw, 100vh);
  max-height: 100vh;
  height: 100vh;

  // max-width: 177.77vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.coolBox.coolBox.coolBox.coolBox {
  margin: auto;
  cursor: initial !important;

  @media (max-width: 500px) {
    height: 90vw;
  }

  @media (min-width: 500px) {
    width: 100%;
  }

  * {
    cursor: initial !important;
  }
}

.coolBox {
  // max-width: 177.77vh;
  // margin: 0 auto;
  position: relative;
  // max-width: 100vw;
  height: 100%;
  max-height: 100%;
  // max-height: 16.25%;
  // border: 2px solid red;

  & div {
    height: 100%;
    position: relative;
    @media (min-width: 500px) {
      width: 100%;
    }
  }

  .introImg {
    // opacity: 0;

    position: absolute;
    object-fit: cover;

    width: 100%;
    height: 100%;

    // filter: grayscale(100%);

    // z-index: -20;

    // &.showIntro {
    //   // z-index: 1;
    // }

    // &:nth-child(1) {
    //   z-index: 500;
    // }

    // &:nth-child(2) {
    //   z-index: 505;
    // }
  }

  video {
    // z-index: 10;
    background: white;
    position: relative;
    height: 100%;
    max-height: 100vh !important;
    object-fit: cover;

    transition: opacity 1s ease;
    opacity: 1;

    &.showIntro {
      opacity: 0;
    }
  }
}

.absoBox {
  z-index: 100;
  position: absolute;
  display: flex;
  align-items: center;

  right: 0px;
  top: 0px;

  img {
    object-fit: contain;
  }

  .imgIntuita {
    width: 50px;
    height: 50px;
  }

  .imgGithub {
    width: 80px;
    height: 80px;
  }
}
